body{
    color: aquamarine;
    text-align: center;
    font-family: "Arial";
    font-size: 20px;

}
#estilo1
{
    background: #33A;
    color: white;
}
.imagen {
    border-radius: 70%;
    border: 2px solid;
    box-shadow: 8px 16px 32px 0px;
    height: 250px;
    width: 250px;
    margin-top: 200px;
}
.carrucel{
    align-items: center;
    display: flex;
    margin:48px 0 64px;
}
.ventana{
    overflow: hidden;
    width: 1500px;
}
.contenedor{
    left: 0;
    position:relative;
    width: 1500px;
}
.contenedor li{
    display: inline-block;
}